* {
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.more {
  width: 100vw;
  height: auto;
}

.first-part {
  margin-top: 10vh;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.more-img {
  width: 40%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.more-descr {
  font-size: xx-large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 30%;
  height: 100%;
  display: flex;
  text-align: left;
  align-items: center;
}

.showhidebtnform {
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 10px 0px;
  padding: 5px 0px;
  font-size: xx-large;
  border: none;
  background-color: gray;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
}
.showhidebtnform:hover {
  background-color: black;
  scale: 1.2;
}
.showhidebtnform:active {
  background-color: rgb(80, 80, 80);
  scale: 1.25;
}

.more-form {
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 50px 0px;
  padding: 10px;
  background-color: silver;
  border-radius: 2.4mm;
}

.more-form-select {
  width: 30%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  font-size: x-large;
  text-transform: capitalize;
  border: 2px solid black;
  outline: none;
  background: transparent;
  transition: 0.3s;
  text-align: center;
  cursor: pointer;
}
.more-form-select:focus {
  width: 50%;
  scale: 1.1;
}
.more-form-select:hover {
  width: 50%;
  scale: 1.1;
}

.more-form-so {
  background-color: silver;
}

.form-inp {
  margin-top: 20px;
  font-size: large;
  font-weight: bold;
}

.form-text {
  width: 30%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding-left: 10px;
  font-size: x-large;
  border: none;
  outline: none;
  border-bottom: 7px solid aqua;
  background: transparent;
  transition: 0.4s;
}
.form-text:hover {
  border-bottom: 7px solid #f54a00;
}
.form-text:focus {
  width: 40%;
  border-bottom: 7px solid #f54a00;
}

.resetsubmit {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 5px 0px;
}
.resetsubmit .btnleft {
  border: none;
  padding: 5px 10px;
  border-radius: 1mm;
  font-size: x-large;
  cursor: pointer;
  transition: 0.4s;
  background-color: red;
  color: black;
}
.resetsubmit .btnleft:hover {
  scale: 1.1;
}
.resetsubmit .btnleft:active {
  scale: 1.2;
}
.resetsubmit .btnright {
  border: none;
  padding: 5px 10px;
  border-radius: 1mm;
  font-size: x-large;
  cursor: pointer;
  transition: 0.4s;
  background-color: green;
  color: black;
}
.resetsubmit .btnright:hover {
  scale: 1.1;
}
.resetsubmit .btnright:active {
  scale: 1.2;
}

.contacts {
  margin-top: 10vh;
  margin-bottom: 5vh;
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  color: white;
  background-color: gray;
}

.con-p {
  font-size: x-large;
  font-weight: bold;
  padding: 10px;
  text-transform: capitalize;
}

.more-call {
  font-size: x-large;
  font-weight: bold;
  text-transform: none;
  text-decoration: none;
  color: black;
  padding: 10px;
  background-color: orange;
  border: none;
  border-radius: 2.4mm;
}
.more-call:hover {
  -webkit-animation: 1.5s animeCall infinite;
          animation: 1.5s animeCall infinite;
}

.more-maps {
  width: 100%;
  height: 70vh;
  transition: 0.4s;
  border-radius: 0mm;
}

@-webkit-keyframes animeCall {
  0% {
    background-color: orange;
    padding: 10px;
  }
  50% {
    background-color: #f54a00;
    padding: 15px;
  }
  100% {
    background-color: orange;
    padding: 10px;
  }
}

@keyframes animeCall {
  0% {
    background-color: orange;
    padding: 10px;
  }
  50% {
    background-color: #f54a00;
    padding: 15px;
  }
  100% {
    background-color: orange;
    padding: 10px;
  }
}/*# sourceMappingURL=more.css.map */